<<<<<<< Updated upstream
input {
    margin-top: 10px;
}

body input[type="submit"] {
    border: none;
    outline: none;
    height: 50px;
    width: 80px;
    background: #229FBC;
    color: white;
    border-radius: 20px;
  
}
=======
input {
    margin-top: 10px;
}

body input[type="submit"] {
    border: none;
    outline: none;
    height: 50px;
    width: 80px;
    background: #229FBC;
    color: white;
    border-radius: 20px;
  
}
>>>>>>> Stashed changes
